.featured{
    height:100vh;
}
.transicao{
    width: inherit;
    height: inherit; /* inherit herdar o tamanho do pai */
    background: linear-gradient(to top, #111 10%, transparent 90%);/*para efeito degrade css */
}
.transicao-horizontal{
    width: inherit;
    height: inherit;
    background: linear-gradient(to right, #111 30%, transparent 70%);
}

.nome-principal{
    font-size: 60px;
    font-weight: bold;
}
.pontos{
    font-size: 18px;
    margin-top: 18px;
    font-weight: bold;
    color:#46d369;
    display: inline-block;
    margin-right: 15px;
}
.ano, .temporada{
    font-size:18px;
    font-weight: bold;
    display: inline-block;
    margin-right: 15px;
}

.descricao{
    margin-top: 15px;
    font-size: 20px;
    color:#999;
    max-width:40%;
}

.buttons{
    margin-top: 15px;
}