.movieRow{
    margin-bottom: 30px;
}

.movieRow h2{
    margin:0px 0px 0px 30px;
}
.movie-list-area{
    overflow-x: hidden;
    padding-left: 30px;
}

.movie-list-item{
    display: inline-block;
    width:150px;
    cursor: pointer;
}

.movie-list-item img{
    width:100%;
    transform: scale(0.9);
    transition: all ease 0.2s;
}

.movie-lista{
    width:99999px;
}

.movie-list-item img:hover{
    
    transform: scale(1);
}
.navegacao-direita,
.navegacao-esquerda{
    position:absolute;
    width:40px;
    height: 225px;
}

.navegacao-direita{
    right: 0;
}

.navegacao-esquerda{
    left:0;
}